# --- Go (Golang) ---
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# --- Terraform ---
# Local .terraform directories (Plugins & Modules)
**/.terraform/*

# .tfstate files (Contains SENSITIVE info about your infrastructure)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Variable Files (Contains SECRETS - Important!)
*.tfvars
*.tfvars.json

# Exclude .pem keys (NEVER upload your keys to GitHub)
*.pem

# --- General Security ---
# Ignore environment files containing keys
.env